<%- include('../../partials/header'); %>

<main>
  <div>
    <h1>Create Task</h1>
    <form action="/tasks" method="post">
        <input type="text" name="taskName"/>
        <input type="submit">
    </form>
  </div>
</main>

<%- include('../../partials/footer'); %>
